/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #030616;
}
body {
  height: 128vh;
  background-color: #D2D5DA;
  font-family: 'Inter';
}
a{
  color: #4E80EE;
  text-decoration: none;
}

/*HEADER*/
header{
  background-color: #FFFFFF;
  text-align: center;
  padding: 5% 0 5% 0;
}
h1{
  font-size: 2.25rem;
  font-weight: 600;
}
#ph1{
  font-size: 1rem;
  margin-top: 10px;
}

/*MAIN*/
main{
  background-color: #F8FAFC;
  padding-top: 2%;
  padding-bottom: 2%;
}
/*QUESTIONS*/
h2{
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 2rem;
}
.question{
  padding-right: 12%;
  padding-left: 20%;
}
/*TEXT*/
.paragraphs{
    font-size: 1rem;
}
.paragraphs p{
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    line-height: 1rem;
}
ol, ul{
    line-height: 2rem;
    padding-left: 1.5rem;
}

/*HORIZONTAL LINE*/
hr{
    padding-left: 1.5rem;
    position: relative;
    left: 20%;
    width: 65vw;
    opacity: 50%;
}

/*FOOTER*/
.author-info{
    font-size: 0.6rem;
    text-align: center;
    color: rgb(55, 65, 81);
    margin-top: 8vh;
    margin-bottom: 5vh;
}

/*MEDIA QUERIES FOR LAPTOP AND DESKTOP STYLES*/
@media (min-width: 1025px) {
  .question{
    padding-left: 22rem;
    padding-right: 22rem;
  }
  hr{
    padding-left: 1.5rem;
    width: 50vw;
    position: relative;
    left: 26%;
}
/*MEDIA QUERIES FOR TABLET STYLE*/
@media (min-width: 640px) and (max-width: 1024px){
  header{
    padding: 7% 0 7% 0;
}
  .question{
  padding-right: 12%;
  padding-left: 20%;
}
}
/*MEDIA QUERIES FOR MOBILE DEVICE STYLE*/
@media (min-width: 412px) and (max-width: 639px) {
  header{
    width: 100%;
    padding: 15% 5% 15% 5%;
  }
  body{
    width: 100%;
  }
  main{
    padding: 5% 0 5% 0;
  }
  .question{
  padding-right: 10%;
  padding-left: 7%;
}
}
/*MEDIA QUERIES FOR SMALLER DEVICE STYLE*/
@media (max-width: 411px) {
  header{
    width: 100%;
    padding: 15% 5% 15% 5%;
  }
  body{
    width: 100%;
  }
  main{
    padding: 5% 0 5% 0;
  }
  .question{
  padding-right: 10%;
  padding-left: 6%;
}
}
